

<h3><%= @contractor.name %></h3><br>

Name: <%= @contractor.name %><br>
Email: <%= @contractor.email %><br>
<div class="button-row">
  <%= button_to "Edit", edit_contractor_path(@contractor), :method => :get, class:'button'%>  
  <%= button_to "Delete", delete_contractor_path(@contractor), :method => :get, class:'button' %>
</div>
<br>
<br>

<h3>Add a Task to <%=@contractor.name%> </h3><br>
<%= form_for(@task) do |f| %>
  <% f.hidden_field :contractor_id, :value => @contractor.id %>
  <%= f.label :name %>
  <%= f.text_field :name %>
 
  <%= f.submit "Submit Task", class: 'button', formaction: contractor_tasks_path(@contractor, @task.name)%>
<% end %>