<%= render partial: "layouts/error", locals: {object: @home}  %>
<%= form_for @home do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :year_built %>
  <%= f.text_field :year_built %><br>
  <%= f.label :SF %>
  <%= f.text_field :sf %><br>
  <%= f.label :beds %>
  <%= f.text_field :beds %><br>
  <%= f.label :baths %>
  <%= f.text_field :baths %>
  <br>
  <br>
  <div>
    <%= f.submit "Submit Home", class: 'button'%>
  </div>

<% end %>
    <%= button_to "X Cancel", homes_path, :method => :get, class: 'button'%>
