<h1>This is Homes show</h1>
<h3><%= @home.name %></h3><br>

Name: <%= @home.name %><br>
Year Built: <%= @home.year_built %><br>
SF: <%= @home.sf %><br>
Bedrooms: <%= @home.beds %><br>
Baths: <%= @home.baths %><br>
<%= link_to "Edit", edit_home_path(@home)%>  
<%= link_to "Delete", delete_home_path(@home) %>
<%= link_to "Add Projects to #{@home.name}", new_project_path%> 