<h1>This is Homes show</h1>
<h3><%= @home.name %></h3><br>

Name: <%= @home.name %><br>
Year Built: <%= @home.year_built %><br>
SF: <%= @home.sf %><br>
Bedrooms: <%= @home.beds %><br>
Baths: <%= @home.baths %><br>
<%= f.submit "Edit"%>  <%= f.submit "Delete"%>