<!DOCTYPE html>
<html>
  <head>
    <title>HomeRenovation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
        <div class="nav-link-wrapper">
          <div class="nav-link"><%= button_to "Home", '/', class: 'button', method:'get' %></div>
          <% if !current_user %>
            <div class="nav-link"><%= button_to "Sign Up", new_user_path, class: 'button', method:'get' %></div>
            <div class="nav-link"><%= button_to "Log in", signin_path, class: 'button', method:'get' %></div>
          <% end %>
          <% if current_user %>
              <div class="nav-link"><%= button_to "#{current_user.name}'s Profile", user_path(current_user), class: 'button', method:'get' %></div>
          <div class="nav-link"> <%= button_to "Log Out", session_path, class: 'button', method:'delete' %></div>
          <% end %>
        </div>

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="outer-wrapper">
      <div>
        <div class="inner-wrapper">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
